[Unit]
Description=Fatrace Privileged Data Producer
PartOf=@PKGNAME@.service

[Service]
Type=notify
User=root
Group=ldt

ExecStart=/usr/bin/ldt trace relay

RuntimeDirectory=@PKGNAME@-admin
RuntimeDirectoryMode=0750

Restart=on-failure
RestartSec=2

# 安全限制
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
