[Unit]
Description=Living Drive Tonic daemon
Requires=@PKGNAME@-fatrace.service
After=@PKGNAME@-fatrace.service

[Service]
Type=simple
ExecStart=/usr/bin/ldt trace start
User=ldt


Restart=on-failure

StateDirectory=@PKGNAME@

[Install]
WantedBy=multi-user.target
Also=@PKGNAME@-fatrace.service