[Unit]
Description=Living Drive Tonic daemon — runs the ldt tracing service and manages runtime/state directories for the ldt user
Requires=ldt-fatrace.service
After=ldt-fatrace.service

[Service]
Type=simple
ExecStart=ldt trace
User=ldt


Restart=on-failure

StateDirectory=@PKGNAME@
RuntimeDirectory=@PKGNAME@
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target
